<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Dashboard - Brand</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/font-awesome.min.css">
    <link rel="stylesheet" href="/css/mine.css">
</head>

<body id="page-top">
    <div id="wrapper">
        <div class="d-flex flex-column" id="content-wrapper">
            <div id="content">
                <nav class="navbar navbar-light navbar-expand bg-white shadow mb-4 topbar sticky-top py-3">
                    <div class="container-fluid">
                        <div class="container col-md-10">
                            <div class="navbar-nav nav row justify-content-end">
                                <li class="mx-2">
                                    <a href="/">View Site</a>
                                </li>
                                <div style="border: 1px solid; color: grey;"></div>
                                <li class="mx-2"><span></span> Admin</li>
                            </div>
                        </div>
                    </div>
                </nav>
                <div class="container-fluid d-flex flex-column col-md-10">
                    <div class="d-sm-flex justify-content-between align-items-center mb-4">
                        <h3 class="text-dark mb-0">Dashboard</h3>
                    </div>
                    <div class="row">
                        <div class="col-md-6 col-xl-3 mb-4">
                            <div class="card shadow border-left-primary py-2">
                                <div class="card-body">
                                    <div class="row align-items-center no-gutters">
                                        <div class="col mr-2">
                                            <div class="text-uppercase text-primary text-xs mb-1">
                                                <span>Date</span>
                                            </div>
                                            <div class="text-dark h5 mb-0"><span>5th February,
                                                    2021</span></div>
                                        </div>
                                        <div class="col-auto"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-xl-3 mb-4">
                            <div class="card shadow border-left-success py-2">
                                <div class="card-body">
                                    <div class="row align-items-center no-gutters">
                                        <div class="col mr-2">
                                            <div class="text-uppercase text-success text-xs mb-1">
                                                <span>Number of Companies</span>
                                            </div>
                                            <div class="text-dark h5 mb-0"><span>100</span></div>
                                        </div>
                                        <div class="col-auto">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-xl-3 mb-4">
                            <div class="card shadow border-left-warning py-2">
                                <div class="card-body">
                                    <div class="row align-items-center no-gutters">
                                        <div class="col mr-2">
                                            <div class="text-uppercase text-danger text-xs mb-1">
                                                <span>Number of Views</span>
                                            </div>
                                            <div class="text-dark h5 mb-0"><span>100</span></div>
                                        </div>
                                        <div class="col-auto">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-xl-3 mb-4">
                            <div class="card shadow border-left-info py-1">
                                <div class="card-body">
                                    <div class="row align-items-center no-gutters">
                                        <div class="col mr-2">
                                            <div class="text-uppercase text-info text-xs mb-1">
                                                <span>Actions</span>
                                            </div>
                                            <div class="text-dark h5 mb-0">
                                                <button class="btn btn-sm btn-info">Add Company</button>
                                                <button class="btn btn-sm btn-outline-info">Add Admin</button>
                                            </div>
                                        </div>
                                        <div class="col-auto">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- about -->
                <div class="container-fluid d-flex flex-column col-md-10 col-lg-8 mt-4">
                    <div class="row">
                        <div class="col-lg-12 mb-4">
                            <div class="card shadow mb-4">
                                <div class="card-header py-3">
                                    <h6 class="text-info font-weight-bold mt-2">About</h6>
                                </div>
                                <div class="container">
                                    <form action="#" method="post" class="px-5 py-3">
                                        <div class="form-group">
                                            <label for="heading" class="font-weight-bold">Heading</label>
                                            <input class="form-control" type="text" name="heading" id="heading" />
                                        </div>
                                        <div class="form-group">
                                            <label for="about" class="font-weight-bold">Content</label>
                                            <textarea class="form-control" name="about" id="about" cols="30"
                                                rows="10"></textarea>
                                        </div>
                                        <button class="btn btn-sm btn-info">Save</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- message from ceo -->
                <div class="container-fluid d-flex flex-column col-md-10 col-lg-8">
                    <div class="row">
                        <div class="col-lg-12 mb-4">
                            <div class="card shadow mb-4">
                                <div class="card-header py-3">
                                    <h6 class="text-info font-weight-bold mt-2">Message from CEO</h6>
                                </div>
                                <div class="container">
                                    <form action="#" method="post" class="px-5 py-3">
                                        <div class="form-group">
                                            <label for="about" class="font-weight-bold">Content</label>
                                            <textarea class="form-control" name="about" id="about" cols="30"
                                                rows="10"></textarea>
                                        </div>
                                        <button class="btn btn-sm btn-outline-info">Save</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="container-fluid d-flex flex-column col-md-10 col-lg-8">
                    <div class="row">
                        <div class="col-lg-12 mb-4">
                            <div class="card shadow mb-4">
                                <div class="card-header py-3">
                                    <div class="row justify-content-between px-3">
                                        <h6 class="text-info font-weight-bold mt-2">Todo List</h6>
                                        <button class="btn btn-sm btn-info">Add Todo</button>
                                    </div>
                                </div>
                                <ul class="list-group list-group-flush">
                                    <li class="list-group-item">
                                        <div class="row align-items-center no-gutters">
                                            <div class="col mr-2">
                                                <h6 class="mb-0">Lunch Meeting</h6><span class="text-xs">12:30 AM</span>
                                            </div>
                                            <div class="col-auto">
                                                <div class="custom-control custom-checkbox"><input
                                                        class="custom-control-input" type="checkbox"
                                                        id="formCheck-3"><label class="custom-control-label"
                                                        for="formCheck-3"></label></div>
                                            </div>
                                            <div class="col-auto">
                                                <form action="#" method="post">
                                                    <button class="btn btn-sm btn-link text-danger"
                                                        type="submit">x</button>
                                                </form>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="/js/jquery.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/theme.js"></script>
</body>

</html>