<!-- ABOUT -->
<section class="about section-padding pb-0" id="about">
     <div class="container">
          <div class="row">

               <div class="col-lg-7 mx-auto col-md-10 col-12" style="margin-top: -20px;">
                    <div class="about-info">

                         <h2 class="mb-4" data-aos="fade-up"><strong>Professionalism & Creating Value</strong> is what
                              we do</h2>

                         <p class="mb-0" data-aos="fade-up">Here at Judok, we understand how stressful and frustrating
                              it can be to get
                              things done how you, our Customer expects
                              <br><br>Look no further, here at Judok, we uphold our Customers and execute tasks
                              you, our Customer entrust to us with <strong>Speed</strong> and a touch of
                              <strong>Perfection</strong>. Standards are followed to provide <strong>excellent
                                   results</strong>
                              for all your needs. Help us help you
                         </p>
                    </div>

                    <div class="about-image" data-aos="fade-up" data-aos-delay="200">

                         <img src="images/office.png" class="img-fluid" alt="office">
                    </div>
               </div>

          </div>
     </div>
</section>