<div class="gal-container">
    <div class="box">
        <img src="https://source.unsplash.com/1000x800">
    </div>
    <div class="box">
        <img src="https://source.unsplash.com/1000x802">
    </div>
    <div class="box">
        <img src="https://source.unsplash.com/1000x804">
    </div>
    <div class="box">
        <img src="https://source.unsplash.com/1000x806">
    </div>
    <div class="box">
        <img src="https://source.unsplash.com/1000x806">
    </div>
    <div class="box">
        <img src="https://source.unsplash.com/1000x800">
    </div>
    <div class="box">
        <img src="https://source.unsplash.com/1000x802">
    </div>
    <div class="box">
        <img src="https://source.unsplash.com/1000x804">
    </div>
    <div class="box">
        <img src="https://source.unsplash.com/1000x806">
    </div>
    <div class="box">
        <img src="https://source.unsplash.com/1000x806">
    </div>
</div>
<p class="lead text-center">Visit our IG Page for more</p>