<!-- HERO -->
<section class="hero hero-bg d-flex justify-content-center align-items-center">
    <div class="container">
         <div class="row">

              <div class="col-lg-6 col-md-10 col-12 d-flex flex-column justify-content-center align-items-center">
                   <div class="hero-text">

                        <h1 class="text-white" data-aos="fade-up">We are ready for all your needs</h1>

                        <a href="contact" class="custom-btn btn-bg btn mt-3" data-aos="fade-up"
                             data-aos-delay="100">Let us discuss together!</a>

                        <strong class="d-block py-3 pl-5 text-white" data-aos="fade-up" data-aos-delay="200"><i
                                  class="fa fa-phone mr-2"></i> +233 548 557 822</strong>
                   </div>
              </div>

              <div class="col-lg-6 col-12">
                   <div class="hero-image" data-aos="fade-up" data-aos-delay="300">

                        <img src="images/sharing_ideas.png" class="img-fluid" alt="sharing ideas">
                   </div>
              </div>

         </div>
    </div>
</section>